.icon_htm {
    background: url("../../images/icon_html.png") no-repeat;
    width: 96px;
    height: 96px;
}

.icon_exc {
    background: url("../../images/icon_excel.png") no-repeat;
    width: 72px;
    height: 70px;
}

.icon_pdf {
    background: url("../../images/icon_pdf.png") no-repeat;
    width: 70px;
    height: 70px;
}

.icon_pwp {
    background: url("../../images/icon_powerpoint.png") no-repeat;
    width: 72px;
    height: 70px;
}

.icon_wor {
    background: url("../../images/icon_word.png") no-repeat;
    width: 72px;
    height: 70px;
}

.icon_fol {
    background: url("../../images/icon_folder.png") no-repeat;
    width: 70px;
    height: 70px;
}

.icon_png, .icon_jpg {
	width: 70px;
    height: 70px;
}

.label_doc {
    text-align: center;
    width: 70px;
    position: absolute;
}


.posElt {
    position: absolute;
}

.col0, .col16, .col32, .col48, .col64, .col80 {
    left: 30px;
}

.col1, .col17, .col33, .col49, .col65, .col81 {
    left: 140px;
}

.col2, .col18, .col34, .col50, .col66, .col82 {
    left: 250px;
}

.col3, .col19, .col35, .col51, .col67, .col83 {
    left: 360px;
}
.col4, .col20, .col36, .col52, .col68, .col84 {
    left: 470px;
}

.col5, .col21, .col37, .col53, .col69, .col85 {
    left: 580px;
}

.col6, .col22, .col38, .col54, .col70, .col86 {
    left: 690px;
}

.col7, .col23, .col39, .col55, .col71, .col87 {
    left: 800px;
}

.col8, .col24, .col40, .col56, .col72, .col88 {
    left: 915px;
}

.col9, .col25, .col41, .col57, .col73, .col89 {
    left: 1025px;
}

.col10, .col26, .col42, .col58, .col74, .col90 {
    left: 1135px;
}

.col11, .col27, .col43, .col59, .col75, .col91 {
    left: 1245px;
}

.col12, .col28, .col44, .col60, .col76, .col92 {
    left: 1355px;
}

.col13, .col29, .col45, .col61, .col77, .col93 {
    left: 1465px;
}

.col14, .col30, .col46, .col62, .col78, .col94 {
    left: 1575px;
}

.col15, .col31, .col47, .col63, .col79, .col95 {
    left: 1685px;
}

.raw0 {
    top: 60px;
}

.raw1 {
    top: 190px
}

.raw2 {
    top: 320px
}

.raw3 {
    top: 450px
}

.raw4 {
    top: 580px
}

.raw5 {
    top: 710px
}