<div class="frame">
    <form novalidate name="connectionForm">

        <div class="login">
            <label id="labelLogin">{{'LOGIN' | translate}}:</label>
            <input id="inputLogin" type="text" ng-model="connection.login" required/>
        </div>

        <div class="password">
            <label id="labelPassword">{{'PASSWORD' | translate}}:</label>
            <input id="inputPassword" type="password" ng-model="connection.password" required/>
        </div>

        <span class="error errorPosition" ng-if="error">{{ errorMsg | translate}}</span>

        <button class="btn connectionBtn" ng-click="connect(connectionForm, connection)" ng-disabled="!connectionForm.$valid">{{'CONNECTION' | translate}}</button>
    </form>

    <div class="flag">
        <img src="images/french_flag.png" ng-click="changeLanguage('fr')" id="flag_fr">
        <img src="images/english_flag.png" ng-click="changeLanguage('en')" id="flag_en">
    </div>

</div>