.userManagement {
    position: absolute;
    width: 1620px;
    height: 807px;
    background-color: aliceblue;
    /*opacity: 0.9;*/
    top: 187px;
    left: 300px;
}

.usersListHeader {
    background-color: gray;
    height: 36px;
    color: white;
    width: 1620px;
    padding-left: 11px;
    position: absolute;
    padding-top: 5px;
}

.usersList {
    width: 320px;
    position: absolute;
    top: 100px;
    left: 110px;
}

.userDetail {
    width: 440px;
    position: absolute;
    left: 660px;
    top: 70px;
}

.usersTitle {
    position: absolute;
    top: 75px;
    left: 110px;
    font-weight : bold;
}

.detailTitle{
    top: 75px;
    left: 700px;
    font-weight : bold;
}

.loginUser {
    padding-left: 70px;
    padding-top: 20px;
}

.passwordUser {
    padding-left: 70px;
    padding-top: 20px;
}

.startDate {
    padding-left: 70px;
    padding-top: 20px;
}

.endDate {
    padding-left: 70px;
    padding-top: 20px;
}

.userRight {
    padding-left: 70px;
    padding-top: 20px;
}

.inputLoginUser_en {
    margin-left: 67px;
}

.inputLoginUser_fr {
    margin-left: 56px;
}

.inputPasswordUser_en {
    margin-left: 34px;
}

.inputPasswordUser_fr {
    margin-left: 34px;
}

.inputStartDate_en {
    margin-left: 36px;
    width: 140px;
}

.inputStartDate_fr {
    margin-left: 32px;
    width: 140px;
}

.inputEndDate_en {
    margin-left: 42px;
    width: 140px;
}

.inputEndDate_fr {
    margin-left: 55px;
    width: 140px;
}

.calendarTop_en {
    top: 142px;
    left: 330px;
}

.calendarTop_fr {
    top: 142px;
    left: 357px;
}

.calendarBottom_en {
    top: 190px;
    left: 330px;
}

.calendarBottom_fr {
    top: 190px;
    left: 357px;
}

.inputRight_en {
    margin-left: 37px;
    width: 174px;
}

.inputRight_fr {
    margin-left: 23px;
    width: 174px;
}

.btn {
    color: white;
}

.addBtn {
    background-color: darkgreen;
}

.updateBtn {
    background-color: darkorange;
}

.removeBtn {
    background-color: darkred;
}

.buttonsOnly {
    padding-left: 190px;
    padding-top: 20px;
    letter-spacing: 50px;
}

.buttonsMutli {
    padding-left: 60px;
    padding-top: 20px;
    letter-spacing: 50px;
}

.formBorder {
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
}

.inputLoginEn {
    margin-left: 67px;
}

.inputPasswordEn {
    margin-left: 35px;
}

.items {
    cursor: pointer;
}

.items:hover {
   border: 1px solid gray !important;
   background-color: gainsboro !important;
    color: black !important;
}

.icon_calendar {
    background: url("../../images/icon_calendar.png") no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
}

/* bootstrap redefinition */
.list-group-item:last-child {
    margin-bottom: 2px;
    border: 1px solid gray;
    background-color: gray;
    color: white;
}

.list-group-item:first-child {
    margin-bottom: 2px;
    border: 1px solid gray;
    background-color: gray;
    color: white;
}