.thumbnails {
    position: absolute;
    width: 1780px;
    height: 807px;
    background-color: aliceblue;
    top: 77px;
    left: 140px;
}

.contentHeader {
	background-color: gray;
	height: 36px;
	color: white;
    width: 1780px;
	padding-left: 1301px;
	padding-top: 5px;
}

.contentThumbnails {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col-lg-6 {
	width: 20%;
}

.input-group {
	position: absolute;
	width: 300px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	height: 25px;
	padding-top: 2px;
}

.input-group .form-control:first-child, .input-group-addon:first-child,
	.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn,
	.input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not
	(:last-child )>.btn, .input-group-btn:last-child>.btn:not (:last-child
	):not (.dropdown-toggle ) {
	height: 25px;
	margin-top: 1px;
}

.tableFolder {
	height: 125px;
	width: 50%;
}

.tableFile {
	height: 125px;
	width: 50%;
}

.path {
    position: absolute;
    width: 1610px;
    height: 36px;
    top: 0px;
    left: 0px;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
}

.item:hover {
	text-decoration : underline;
	cursor: pointer;
	color: #46FF65;
}