.menuLeft {
	position: absolute;
	width: 129px;
	height: 807px;
	background-color: aliceblue;
	top: 77px;
}

.administration {
	position: absolute;
	top: 774px;
	left: 11px;
}

.file {
	position: absolute;
	top: 90px;
	left: 11px;
}

.pos {
	padding-left: 5px;	
}

.folder {
	position: absolute;
	top: 50px;
	left: 11px;
}

.headerItem {
	background-color: gray;
	height: 36px;
	color: white;
	width: 129px;
	padding-left: 18px;
	padding-top: 9px;
}

.headerAdm {
	position: absolute;
	top: 730px;
}

.treeMargin {
	padding-left: 11px;
}

.treeItem {
	padding-left: 3px;
}

.treeMargin2 {
	padding-left: 31px;
}

.treeItem2 {
	padding-left: 4px;
}