<div class="menuLeft">

	<div class="headerItem">
		<span>{{'ACTIONS' | translate}}</span>
	</div>

	<div class="folder">
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true"> </span> <a
			class="pos" href="#createFolder"> {{'NEW_FOLDER' | translate}}</a>
	</div>

	<div class="file">
		<span class="glyphicon glyphicon-file" aria-hidden="true"> </span> <a
			href="#createFile">{{'NEW_FILE' | translate}}</a>
	</div>

	<div ng-if="isAdmin == 1" class="headerItem headerAdm">
		<span>{{'ADMINISTRATION' | translate}}</span>
	</div>

	<div ng-if="isAdmin == 1" class="administration">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"> </span> <a
			href="#userManagementPage">{{'ADMIN' | translate}}</a>
	</div>
</div>